
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

li {
  color: black;
  padding: 14px;
  transition: all linear 0.3s;
}

li:hover {
  color: #984678;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border-radius: 9px;
  line-height: 35px; 
}

.header-text {
  font-size: 12px;
  color: var(--text, #2d2d2d);
}

.header-text:hover {
  font-size: 12px;
  color: #984678;
}

.link-active {
  font-size: 12px;
  color: #984678;
}

.m-height {
  height: 2000px !important;
}

.m-text-wrapper {
  width: 100%;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mintroo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.video{
  margin-top: 0px;
}