@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  font-family: 'Pretendard' !important;
}

body {
  font-family: 'Pretendard';
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.box-wrapper {
  height: 650px;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-align: center;
  font-size: 1px;
  font-style: normal;
  font-weight: 100;
  line-height: 125%;
}


.box1 {
  width: 300px;
  height: 300px;
  border: 1px solid #FFF;
  border-top: 0px;
  border-left: 0px;
  position: absolute;
  top: 0;
}

.box1-line-right{
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 50%;
  height: 3px;
  background-color: #FFF;
  transition:0.2s all; 
}
.box1-line-bottom{
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 3px;
  height: 50%;
  background-color: #FFF;
  transition:0.2s all; 
}

.box-left-wrapper {
  position: relative;
  width: 32%;
  height: 100%;
  margin-left: 20px;
  left: 15%;
}

.box2{
  width: 210px;
  height: 420px;
  border: 1px solid #FFF;
  position: absolute;
  top: 80px;
  left: 110px;
}

.box2-line-top{
  position: absolute;
  top: -2px;
  right: 0;
  left: 0;
  width: 210px;
  height: 3px;
  background-color: #FFF;
  transition:0.2s all; 
}

.box2-line-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 210px;
  background-color: #FFF;
  transition:0.2s all; 
}

.box2-line-right{
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  transition: 0.2s all; 
}

.box2-line-bottom{
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 3px;
  height: 50%;
  background-color: #FFF;
  transition:0.2s all; 
}

.box2-title{
  position: absolute;
  bottom: -23px;
  right: 0;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  transition:0.2s all; 
}

.box3{
  width: 210px;
  height: 210px;
  border: 1px solid #FFF;
  position: absolute;
  top: 410px;
  left: 0;
}



.box3-line-top {
  position: absolute;
  right: 0;
  width: 50%;
  height: 3px;
  background-color: #FFF;
  transition:0.2s all; 
}

.box3-line-right {
  position: absolute;
  right: 0;
  width: 3px;
  height: 50%;
  background-color: #FFF;  
  transition:0.2s all; 
}


.box4 {
  width: 140px;
  height: 140px;
  border: 1px solid #FFF;
  position: absolute;
  top: 148px;
  right: 0;
}

.box-right-wrapper {
  position: absolute;
  width: 47%;
  top: 0;
  z-index: 999;
  right: 0;
}

.box5 {
  position: absolute;
  top: 350px;
  left: 0;
  width: 210px;
  height: 210px;
  border: 1px solid #FFF;
}

.box6 {
  position: absolute;
  top: 210px;
  left: 130px;
  width: 210px;
  height: 210px;
  border: 1px solid #FFF;
}

.box6-title {
  position: absolute;
  top: -25px;
  right: 0;
  color: #FFF;
  font-family: SUIT;
  font-size: 18px;
  font-weight: 600;
  transition:0.2s all; 
}

.box6-line-top {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  transition:0.2s all; 
}

.box6-line-right {
  position: absolute;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #FFF;
}


.box6-line-left {
  position: absolute;
  left: 0;
  width: 3px;
  height: 0;
  background-color: #FFF;
  transition:0.2s all; 
}

.box6-line-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #FFF;
  transition:0.2s all; 
}


.box6:hover .box6-line-left  {
  height: 100%;
}

.box6:hover .box6-line-bottom {
  width: 100%;
}



.box7 {
  position: absolute;
  top: 380px;
  left: 310px;
  width: 310px;
  height: 150px;
  border: 1px solid #FFF;
}

.box8 {
  position: absolute;
  top: 90px;
  left: 400px;
  width: 140px;
  height: 140px;
  border: 1px solid #FFF;
}


.box9 {
  width: 300px;
  height: 300px;
  border: 1px solid #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box9-line-left {
  position: absolute;
  left: 0;
  width: 3px;
  height: 50%;
  background-color: #FFF;
  transition:0.2s all; 
}
.box9-line-top {
  position: absolute;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #FFF;
  transition:0.2s all; 
}

.poster-wrapper .box-wrapper-2 {
  position: relative;
}

.box-wrapper-2 {
  position: relative;
  top: 0px;
  right: 30px;
  width: 1200px;
  height: 100%;
  z-index: 0;
}

.events:hover .event-date{
  color: #F28542;
  /* margin-bottom: 10px; */
  transition: all 0.2s ease-in-out 0s, visibility 0s;

}

.events:hover .event-text{
  color: #F28542;
  margin-bottom: 10px;
}


.typing {
  max-width: 100px;
}

.mobile-video {
  margin-top: 40px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.before-open {
  cursor: pointer;
}